<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ abs(path="/style.css") | safe }}">
</head>
<body class="col">
<header class="row base">
    <a href="{{ abs(path="/") | safe }}"><h1>{{ title }}</h1></a>
    <div class="spacer"></div>
    <nav><ul>
    {% for page in pages %}
        <li><a href="{{ abs(path=page.page) | safe }}">{{ page.title }}</a></li>
    {% endfor %}
    </ul></nav>
</header>
<main>{% block content %}{% endblock content %}</main>
<div class="spacer"></div>
<footer>
    {{ copyright | safe }}
</footer>
</body>
</html>
